body {
  background-color: #ebebeb;
  position: relative;
  margin: 0;
  width: 100%;
  color: #131313;
}

#navbar {
  width: 100%;
  height: 100%;
  margin: 0;
  background-color: #131313;
  color: #cccccc;
}

#titlename {
  text-decoration: none;
  font-size: 30pt;
  font-family: Times;
  cursor: auto;
  color: #cccccc;
}

.btn {
  background-color: #131313;
}

.btn:hover {
  background-color: #242424;
}

.dropdown-content li>a.Melee, .dropdown-content li>a.Ranged, .dropdown-content li>a.Magic {
  color: rgb(112, 51, 52);
}

.dropdown-content li>a.Healer {
  color: #457637;
}

.dropdown-content li>a.Tank {
  color: #3f53b7;
}
